@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: "Be Vietnam Pro", sans-serif;
    /* đoạn color này đang gây lỗi cho phần plyr */
    /* color: #333; */
    box-sizing: border-box;
}

:root {
    --plyr-color-main: rgba(229, 9, 20, 0.5);
    --plyr-control-bg: rgba(0, 0, 0, 0.5);
    --plyr-menu-color: #fff;
    --plyr-menu-radius: 24px;
    --plyr-menu-background: rgba(52, 52, 52, 0.5);
}

h3 {
    color: #e5e5e5;
}

a h3:hover {
    color: #fff;
}

a {
    text-decoration:none;
}

.wrapper {
    min-width: 500px;
    min-height:100%;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(47, 47, 47));
}

.signInContainer {
    /* background: linear-gradient(135deg, rgb(0, 0, 0), rgb(67, 67, 67)); */
    background: url("../images/signup.png") center/cover no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 0;
}

/* .column::-webkit-scrollbar {
    display: none;  
} */

.column {
    background-color: rgba(255, 255, 255, 0.9   );
    min-height: 300px;
    width: 450px;
    padding: 20px 35px;
    overflow-y: auto;
    backdrop-filter: blur(10px);
    position: relative;
    flex: 0 0 450px;      /* cố định width form */
    height: 90vh;         /* cùng chiều cao */
    max-height: 760px;
    margin: 0;
    box-shadow:
        0 24px 60px rgba(0, 0, 0, 1),
        0 8px 20px rgba(0, 0, 0, 0.25);
}

.authSide {
    position: relative;
    width: 420px;
    height: 90vh;
    max-height: 760px;
    background: url("../images/signupcontainer.jpeg") center/cover no-repeat;
    box-shadow:
        0 24px 60px rgba(0, 0, 0, 1),
        0 8px 20px rgba(0, 0, 0, 0.25);
}

.authSide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
}

.authOverlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    text-align: left;
}


.authOverlay h2 {
    font-family: "Be Vietnam Pro", sans-serif;
    /* margin: 0 0 8px; */
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    text-wrap: pretty;
    max-width: 8ch;
}

.authOverlay p {
    margin: 0;
    color: #f2f2f2;
}

.authSide .authOverlay img {
    width: 125px;
}

.column::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.column::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(67, 67, 67));
    border-radius: 0px;
}

.column form {
    display: flex;
    flex-direction: column;   
}

.column form label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
    display: block;
    color: #555;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
    font-size: 14px;
    margin: 0 0 10px 0;
    border: 1px solid #aaaaaa;
    width: 100%;
    padding: 10px;
    border-radius: 100px;
}

.column form button[type="submit"] {
    background-color: #E50914;
    color: #fff;
    height: 36px;
    width: 96px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    align-self: flex-end;
    cursor: pointer;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    overflow: hidden;
    border-radius: 100px;
}

.column form button[type="submit"]:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(158, 2, 2, 0.8);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.column form button[type="submit"]:hover:before, 
.column form button[type="submit"]:focus:before, 
.column form button[type="submit"]:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.column form button[type="submit"]:hover,
.column form button[type="submit"]:focus,
.column form button[type="submit"]:active {
    color: #ffffffc1; /* màu chữ sau hover */
    box-shadow: 0px 10px 16px rgba(73, 73, 73, 0.5);
    transform: translate(-1px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease, color 0.3s;
}

.column .header {
    padding: 20px 0;

}

.column h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    margin: 0;
    color: #1a1a1a;
}

.column .header span {
    font-size: 14px;
}


.signInMessage {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(71, 70, 70);
}

.signInMessage span {
    color: #E50914;
    text-decoration: underline;
}

.errorMessage {
    color: #E50914;
    background-color: rgba(229, 9, 20, 0.1);
    border: 1px dashed #E50914;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.previewImage,
.previewVideo {
    width: 100%;
}

.previewContainer {
    position: relative;
    display: flex;
}

.previewContainer.small {
    width: 150px;
    height: 210px;
    margin-right: 5px;
    margin-left: 10px;
    display: inline-flex;
    transition: all 0.3s ease;
}

/* Hiệu ứng hover phóng to */
.previewContainer.small:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 2px rgba(5, 5, 5, 0.2);
}

/* Hiệu ứng khi click thu nhỏ ảnh preview */
.previewContainer.small:active {
    transform: scale(0.9);
    z-index:5;
}

.previewContainer.small img {
    width: 100%;
    height: 100%;
    /* Tránh hình ảnh cover phim bị kéo dãn */
    object-fit: cover;
    border-radius: 8px;
}

/* Cho item hover không bị cắt */
.category,
.entities {
    overflow: visible;
}

/* Chỉ cho cuộn ngang ở entities bằng auto + thêm khoảng đệm */
.entities {
    overflow-x: auto;
    overflow-y: visible;
    padding: 14px 0;
}

.previewOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
}

.previewOverlay .mainDetails h3 {
    color: #fff;
    font-size: 44px;
    margin: 0;
}

.previewOverlay .mainDetails h4 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    margin: 2px 2px 8px 2px;
}

.previewOverlay .mainDetails {
    position: relative;
    top: 35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.mainDetails button {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: white;
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 100px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
    padding: 0;
    line-height: 1; /* Loại bỏ không gian dư thừa trong button */
}

/* Nút play nổi bật hơn các nút còn lại trên trang preview */

.mainDetails .playBtn {
    width: 200px;
    background: linear-gradient(135deg, rgba(160, 5, 5, 0.5), rgba(51, 51, 51, 0.5));
}

button i {
    color:inherit;  
}

/* Hiệu ứng hover - đổi màu sang đỏ Netflix và phóng to */
.mainDetails button:hover {
    background: rgba(220, 19, 35, 0.5);
    border-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.075);
}

.mainDetails .playBtn:hover {
    background: linear-gradient(135deg, rgba(160, 5, 5, 0.8), rgba(51, 51, 51, 0.8));
    transform: scale(1.025);
}

/* Hiệu ứng khi click - thu nhỏ nút */
.mainDetails button:active {
    transform: scale(0.95);
}

.category {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    position: relative;
}

/* Header của category - chứa tiêu đề bên trái và nút mũi tên bên phải */
.category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
}

/* Loại bỏ margin mặc định của h3 trong header */
.category-header h3 {
    margin: 0;
}

/* Container chứa các nút mũi tên scroll */
.category-arrows {
    display: flex;
    gap: 10px;
    align-items: center;
}

.category-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.entities,
.videos {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    flex: 1;
}

/* Ẩn scrollbar default */
.entities::-webkit-scrollbar,
.videos::-webkit-scrollbar,
.previewCategories.noScroll .category .videos::-webkit-scrollbar,
.episodeContainer .videoInfo::-webkit-scrollbar {
    height: 0;
    display: none;
}

.entities::-webkit-scrollbar-track,
.videos::-webkit-scrollbar-track,
.previewCategories.noScroll .category .videos::-webkit-scrollbar-track,
.episodeContainer .videoInfo::-webkit-scrollbar {
    background: transparent;
}

.entities::-webkit-scrollbar-thumb,
.videos::-webkit-scrollbar-thumb,
.previewCategories.noScroll .category .videos::-webkit-scrollbar-thumb,
.episodeContainer .videoInfo::-webkit-scrollbar {
    background: transparent;
}


/* Arrow buttons - Nút mũi tên để scroll ngang qua các entity */
/* Mặc định ẩn (display: none), chỉ hiển thị khi overflow (class 'show' được thêm bởi JS) */
.scroll-arrow {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: white;
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 100px;
    cursor: pointer;
    display: none; /* Ẩn mặc định, chỉ hiển thị khi có overflow */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 10;
    transition: all 0.3s ease;
    flex-shrink: 0;
    padding: 0;
    line-height: 1; /* Loại bỏ không gian dư thừa trong button */
}

/* Căn giữa icon FontAwesome bên trong nút mũi tên */
.scroll-arrow i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Hiệu ứng hover - đổi màu sang đỏ Netflix và phóng to */
.scroll-arrow:hover {
    background: rgba(220, 19, 35, 0.8);
    border-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
}

/* Hiển thị nút khi có overflow (class được thêm bởi JavaScript) */
.scroll-arrow.show {
    display: flex;
}

/* Hiệu ứng khi click - thu nhỏ nút */
.scroll-arrow:active {
    transform: scale(0.95);
}

.previewCategories {
    padding: 0 50px;
}

.errorBanner {
    position: absolute;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #d74c4c;
    background-color: rgba(229, 9, 20, 0.1);
    border: 1px dashed #E50914;
    font-weight: 400;
    top: 25%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

/* Video popup ở landing khi không có CSS Plyr */
.videoPopup { 
    position: fixed; 
    inset: 0; 
    z-index: 9999;
    display: none; 
}

.videoPopup.show { 
    display: block; 
}

.videoPopupBackdrop { 
    position: absolute; 
    inset: 0; 
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.videoPopupContent { 
    position: relative; 
    width: min(900px, 92vw); 
    margin: 5vh auto; 
    background: none; 
    padding: 5px; 
    z-index: 2; 
}

#videoPopupPlayer { 
    width: 100%; 
    max-height: 75vh;
    overflow: hidden;
    display: block;
}

/* Css cho phần style của Plyr */
.videoPopupContent .plyr {
    border-radius: 24px;
    width: 100%; 
    max-height: 75vh;
    overflow: hidden;
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

/* Fullscreen thì bỏ border */
.videoPopupContent .plyr:fullscreen,
.videoPopupContent .plyr:-webkit-full-screen,
.videoPopupContent .plyr.plyr--fullscreen-fallback {
    border: none ;
    border-radius: 0;
}

.videoPopupContent .plyr.plyr--menu-open {
    overflow: visible; /* chỉ khi mở menu settings */
}

.videoPopupContent .plyr__video-wrapper {
    overflow: hidden;
}

/* .videoPopupClose { 
    position: absolute; 
    top: 10px; 
    right: 10px;

} */

.videoPopupContent .plyr__control {
    background: var(--plyr-control-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.videoPopupClose {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: white;
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 100px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 10;
    transition: all 0.3s ease;
    flex-shrink: 0;
    padding: 0;
    line-height: 1; /* Loại bỏ không gian dư thừa trong button */
    position: absolute; 
    top: 10px; 
    right: 10px;
}

/* Hiệu ứng hover - đổi màu sang đỏ Netflix và phóng to */
.videoPopupClose:hover {
    background: rgba(220, 19, 35, 0.5);
    border-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
}

/* Hiệu ứng khi click - thu nhỏ nút */
.videoPopupClose:active {
    transform: scale(0.95);
}

.season {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.episodeContainer {
    display: inline-flex;
    justify-content: center;
    margin-right: 5px;
    margin-left: 20px;
    margin-top:20px;
    margin-bottom: 20px;
}

.episodeContainer .contents {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.episodeContainer img {
    width: 230px;
    height: 129px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.episodeContainer img:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 2px rgba(5, 5, 5, 0.2);
}

/* Hiệu ứng khi click thu nhỏ ảnh preview */
.episodeContainer img:active {
    transform: scale(0.9);
    z-index:5;
}

.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span {
    color: #fff;
    width:100%;
    white-space: normal;
}

.episodeContainer .videoInfo {
    max-height: 200px;
    overflow-y: auto;
}

/* Tên cho các cover phim ở trang mở đầu */
.entityCard{
    width: 150px;
    margin-left: 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}

.entityCard .previewContainer.small{
    margin: 0;
}

.entityTitle{
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.3;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* Phần này để cho phần you may also like có thể scroll theo trục y thay vì trục x như thông thường */
/* .previewCategories.noScroll .category .entities {
    white-space: normal;
} */


/* Watch page full screen */
.watchPage {
    padding-bottom: 30px;
}

.watchContainer {
    position: relative; 
    inset: auto;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.watchContainer .plyr,
.watchContainer video {
    width: 100vw; 
    max-height: 90vh;
    overflow: hidden;
    display: block;
}

/* trước khi Plyr init */
.watchContainer #watchPlayer {
    width: 100%;
    max-height: 100%;
    display: block;
    border: none;
    border-radius: 0px;
}

.watchContainer .plyr__control {
    background: var(--plyr-control-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.watchEpisodes {
    position: relative;
    z-index: 2;
}

.watchRelated {
    padding: 20px 50px;
}

.videoControls{
    position: absolute;
    width: 100%;
    z-index:1;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff ;
}

.videoControls button {
    font-size: 24px;
    padding: 20px;
    color: #fff;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.videoControls button:hover {
    transform: translatex(4px);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

/* Background của upnext */
.videoControls.upNext {
    display: none;
    padding: 32px;
    background: rgba(29, 29, 29, 0.5);
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-weight: 600;
    position: absolute;
    pointer-events: none;
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: min(520px, 80%);
    height: min(300px, 100%);
    text-align: center;
}

.videoControls.upNext.show { display: flex; }

/* nút upnext khi đến hết video */
.upNext {
    display: flex;
    backdrop-filter: blur(10px);
}

.upNextContainer button {
    padding: 0;
    font-size: 36px;
}

.upNextContainer h2,
.upNextContainer h3 {
    color: #fff;
}

.videoControls.upNext a,
.videoControls.upNext button{
    pointer-events: auto;
}

/* Tên cho các cover phim ở trang mở đầu */
.entityCard{
    width: 150px;
    margin-left: 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}

.entityCard .previewContainer.small{
    margin: 0;
}

.entityTitle{
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.3;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* Chỉnh lại fotter trang */
.siteFooterCinebox{
    position: relative;
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(67, 67, 67)),
                url("../images/signup.png") center/cover no-repeat;
    color:#ffffffd5;
    padding:48px 0 36px;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

/* blur ảnh phần footer */
.siteFooterCinebox::before{
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/signup.png") center/cover no-repeat;
    filter: blur(16px);
    transform: scale(1.05);
    z-index: 0;
}

.siteFooterCinebox > *{
    position: relative;
    z-index: 1;
}

.siteFooterInner{
    width:min(1000px, 92vw);
    margin:0 auto;
}

.footerTop{
    margin:0 0 28px;
    font-size:16px;
    color:#b3b3b3;
}

.footerTop a,
.footerLinks a,
.footerCaptcha a{
    color:#b3b3b3;
    text-decoration:underline;
}

.footerLinks{
    display:grid;
    grid-template-columns:repeat(4, minmax(140px, 1fr));
    gap:14px 28px;
    margin-bottom:32px;
}

.footerLinks a{
    font-size:16px;
    line-height:1.4;
}

.footerLangWrap{
    margin-bottom:28px;
}

.footerLangBtn{
    border:1px solid #555;
    background:transparent;
    color:#fff;
    padding:10px 14px;
    border-radius:4px;
    display:inline-flex;
    align-items:center;
    gap:10px;
    font-size:16px;
    cursor:pointer;
}

.footerCountry{
    margin:0 0 26px;
    font-size:20px;
    color:#9d9d9d;
}

.footerCaptcha{
    margin:0;
    font-size:18px;
    color:#8c8c8c;
    line-height:1.5;
}

/* Responsive */
@media (max-width: 900px){
    .footerLinks{
        grid-template-columns:repeat(2, minmax(120px, 1fr));
    }

    .footerTop{ font-size:20px; }
    .footerLinks a{ font-size:18px; }
    .footerLangBtn{ font-size:17px; }
    .footerCountry{ font-size:17px; }
    .footerCaptcha{ font-size:15px; }
}

/* Dấu tick chỉ thị là tập đã xem */
.episodeContainer .contents .fa-solid.fa-circle-check.seen{
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
}

.episodeContainer .contents .watchedButton {
    background: linear-gradient(135deg, rgba(160, 5, 5, 0.5), rgba(51, 51, 51, 0.5));
    color: rgba(255, 255, 255, 0.85);
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(16px);
    border-radius: 100px;
    margin-top: 4px;
    width: 50%;
}

/* navbar */
.topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 30px 20px 30px 20px;   
    box-sizing: border-box;
    min-width: 500px;
    transition: background-color .35 cubic-bezier(.22,.61,.36,1),
                backdrop-filter .35s cubic-bezier(.22,.61,.36,1),
                box-shadow .35s cubic-bezier(.22,.61,.36,1);   
    will-change: background-color, box-shadow, backdrop-filter;
}

.topBar .logoContainer {
    height: 40px;
}

.topBar .logoContainer img {
    height: 100%;
}

.topBar .navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.topBar .navLinks a {
    color: #fff;
    font-size: 16px;
    margin: 20px;
}


.topBar .rightItems {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

.topBar .rightItems div {
    transition: all 0.3s ease-in-out;
}

.topBar .rightItems div:hover {
    transform: scale(1.1);
}

.topBar .rightItems a {
    color: #fff;
}

.topBar.scrolled {
    background: linear-gradient(135deg, rgba(51, 51, 51, 0.8), rgba(125, 0, 0, 0.8));
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 20px rgba(0,0,0,.25);
}

.topBar .navLinks a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}


.topBar .navLinks a:hover,
.topBar .rightItems a:hover{
    transform: translateY(-1px);
    opacity: .9;
}

.topBar .navLinks a:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.topBar .navLinks a:hover::before,
.topBar .navLinks a:focus::before,
.topBar .navLinks a:active::before {
    right: 0;
}

/* Style cho chữ TV Shows và Movies */

.previewCategories h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: oblique;
}